.address__wrap {
  @include horizontal-padding($mobile-padding);

  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
}

.address__title,
.address__description {
  width: 50%;
}

.address__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.address__description {
  @include arial();
  line-height: 20px;
  color: $darkgrey;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .address__wrap {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 70px;
    padding-top: 45px;
    padding-bottom: 40px;
  }

  .address__title {
    width: 180px;
    font-size: 20px;
    line-height: 25px;
  }

  .address__description {
    width: 180px;
    font-size: 16px;
    text-align: right;

    br {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 700px;
    transform: translateX(-50%);
    width: $desktop-width;
  }

  .address__wrap {
    width: 570px;
    background-color: $white;
    transform: translate(-330px, 90px);
    padding: 50px 80px;
  }

  .address__description {
    width: 160px;
    text-align: left;
  }
}
