.address {
  @include horizontal-padding($mobile-padding);
}

.address__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.address__description {
  @include arial();
  line-height: 20px;
  color: $darkgrey;
}

@media (min-width: $tablet-width) {
  .address {
    display: flex;
    justify-content: space-between;

    @include horizontal-padding($tablet-padding);
  }

  .address__title {
    width: 180px;
    font-size: 20px;
    line-height: 25px;
  }

  .address__description {
    width: 180px;
    font-size: 16px;
  }
}
