.banner {
  background-image: linear-gradient(to top, #ffffff 175px, transparent 175px), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom 175px;
  background-color: #63a73a;
  background-size: contain;
  color: $white;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(to top, #ffffff 175px, transparent 175px), url("../img/index-background-mobile@2x.jpg");
  }
}

.banner__wrap {
  @include horizontal-padding($mobile-padding);
}

.banner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;
  margin: 0;
  padding-top: 30px;
  text-align: center;
}

.banner__subtitle {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.banner__pic {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 270px;
}

.banner__btn-selection {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .banner {
    background: none;
    color: $black;
  }

  .banner__wrap {
    position: relative;
    width: $tablet-width;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .banner__title,
  .banner__subtitle {
    text-align: left;

    @include horizontal-padding(95px);
  }

  .banner__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 57px;
  }

  .banner__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .banner__pic {
    width: 710px;
    height: 610px;
  }

  .banner__btn-selection {
    position: absolute;
    top: 285px;
    left: 120px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    min-height: 546px;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, transparent 50%, #64A83B 0);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-clip: border-box;
    background-size: auto 620px, 100%;
    padding-top: 150px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, transparent 50%, #64A83B 0);
    }
  }

  .banner__wrap {
    position: relative;
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 83px;
    box-sizing: border-box;
  }

  .banner__title {
    width: 420px;
    padding-top: 70px;
    padding-left: 40px;
  }

  .banner__subtitle {
    padding-left: 40px;
  }

  .banner__image {
    position: absolute;
    top: -10px;
    left: 490px;
  }

  .banner__pic {
    width: 550px;
    height: 500px;
  }

  .banner__btn-selection {
    top: 307px;
    left: 120px;
  }
}
