.banner {
  background-image: url('../../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $green;
  color: $white;
}

.banner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;
}

.banner__subtitle {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
}
