.example {
  background-color: $grey;
}

.example__wrap {
  @include horizontal-padding($mobile-padding);
}

.example__description {
  @include arial();
}

.example__costs {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 2px solid $grey;
    background-color: inherit;
    padding: 0;
  }

  .example__wrap {
    padding: 0;
  }

  .example__info {
    width: $tablet-width;
    margin: 0 auto;
    box-sizing: border-box;

    @include horizontal-padding($tablet-padding);
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .example__total {
    display: flex;
  }

  .example__weight,
  .example__period {
    font-size: 30px;
  }

  .example__weight-label,
  .example__period-label {
    font-size: 14px;
  }

  .example__costs {
    font-size: 20px;
    line-height: 20px;
    width: 170px;
    margin-left: auto;
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .example {
    border: none;
    margin-top: 150px;
    background-color: $grey;
  }

  .example__wrap {
    display: flex;
    width: $desktop-width;
    margin: 0 auto;
    box-sizing: border-box;

    @include horizontal-padding($desktop-padding);

  }

  .example__info {
    padding: 0;
    margin: 0;
  }
}
