.example {
  background-color: $grey;
}

.example__wrap {
  @include horizontal-padding($mobile-padding);

  padding-bottom: 40px;
}

.example__info {
  padding-top: 15px;
}

.example__description {
  @include arial();

  margin-bottom: 0;
}

.example__total {
  display: flex;
  flex-wrap: wrap;
}

.example__weight,
.example__period {
  display: block;
  width: 45%;
  border: 1px solid $ashen;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.example__weight {
  margin-right: 10%;
}

.example__weight-value,
.example__period-value {
  display: block;
  text-align: center;
}

.example__weight-label,
.example__period-label {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $darkgrey;
  transform: translateY(10px);
  background-color: $grey;
  padding: 0 20px;
  text-align: center;
}

.example__costs {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 2px solid $grey;
    background-color: inherit;
    padding: 0;
  }

  .example__wrap {
    padding: 0;
  }

  .example__info {
    width: $tablet-width;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 40px;

    @include horizontal-padding($tablet-padding);
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 65px;
  }

  .example__total {
    padding-top: 55px;
  }

  .example__weight,
  .example__period {
    width: 165px;
    font-size: 30px;
    margin-top: 0;
    padding-top: 25px;
    border-radius: 3px;
  }

  .example__weight {
    margin-right: 40px;
  }

  .example__weight-label,
  .example__period-label {
    font-size: 14px;
    background-color: $white;
    padding: 0 15px;

    @include arial();

    br {
      display: none;
    }
  }

  .example__costs {
    font-size: 20px;
    line-height: 28px;
    width: 180px;
    margin: 0;
    margin-left: auto;
    padding-top: 10px;
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .example {
    border: none;
    margin-top: 175px;
    background-color: $grey;
  }

  .example__wrap {
    display: flex;
    width: $desktop-width;
    margin: 0 auto;
    box-sizing: border-box;

    @include horizontal-padding($desktop-padding);
  }

  .example__info {
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .example__description {
    margin-top: 0;
  }

  .example__total {
    padding-top: 70px;
  }

  .example__weight-label,
  .example__period-label {
    background-color: $grey;
    transform: translateY(5px);
    padding: 0 10px;
  }

  .example__costs {
    width: 100%;
    text-align: left;
    padding-top: 25px;

    span {
      margin-left: 60px;
    }
  }
}
