.header {
  width: $mobile-width;
  margin: 0 auto;
}

.header__wrap {
  padding: 20px;
}

@media (min-width: $tablet-width) {
  .header {
    width: $tablet-width;
    display: flex;
    padding-top: 30px;
  }

  .header__wrap {
    padding: 0;
    padding-left: 30px;
  }

  .header__toggle-menu {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: $desktop-width;

    &--index {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
  }

  .header__wrap {
    padding-left: 110px;
  }
}
