.instructions {
  padding: 0 20px;
}

.instructions__list {
  @include reset-list-styles();
}

.instructions__item {
  @include arial();
  color: $darkgrey;
}

@media (min-width: $tablet-width) {
  .instructions {
    padding: 0 30px;
  }

  .instructions__list {
    display: flex;
    flex-wrap: wrap;
  }

  .instructions__item {
    width: 50%;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .instructions {
    padding: 0 70px;
  }

  .instructions__list {
    flex-wrap: nowrap;
  }
}
