.logo {
  display: flex;
  color: inherit;
  text-decoration: none;
  align-items: center;
  flex-grow: 1;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.logo__pic {
  width: 33px;
  height: 38px;
}

.logo__title {
  text-transform: uppercase;
  font-size: 22px;

  &--header {
    margin: 0 auto;
    padding: 5px 0;
    transform: translate(-8px, 3px);
  }

  &--footer {
    margin: 0 auto;
    padding: 40px 0;
    font-size: 28px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.logo__academy {
  display: flex;
  align-items: center;

  @include arial();
  font-size: 16px;
  line-height: 16px;
  color: $darkgrey;
  text-decoration: none;
  padding: 20px 0;

  svg {
    width: 40px;
    height: 42px;
    margin-left: auto;
  }

  &:hover .logo__academy-fill {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__academy-fill {
  fill: $darkgrey;
}

@media (min-width: $tablet-width) {
  .logo {
    flex-grow: 0;
  }

  .logo__pic {
    width: 51px;
    height: 55px;
  }

  .logo__title {
    &--header {
      font-size: 18px;
      padding-left: 45px;
    }
  }

  .logo__academy {
    padding: 0;

    svg {
      margin-left: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo__title {
    &--header {
      font-size: 26px;
    }
  }
}
