.maincontent {
  min-width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .maincontent {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .maincontent {
    min-width: $desktop-width;
  }
}
