.maincontent {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .maincontent {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .maincontent {
    width: 1440px;
  }
}
