.map {
  min-height: 380px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: center;
}

@media (min-width: $tablet-width) {
  .map {
    background-image: url("../img/bg-map-tablet@1x.png");
  }
}
