@media (max-width: 767px) {
  .nav {
    height: 0;
    overflow: hidden;

    &--show,
    &--nojs {
      height: inherit;
    }
  }
}

.nav__list {
  @include reset-list-styles();
  text-transform: uppercase;
  margin: 0;
}

.nav__item {
  border-bottom: 1px solid $grey;

  &:first-child {
    border-top: 1px solid $grey;
  }
}

.nav__link {
  display: block;

  @include oswald($medium);
  font-size: 20px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  padding: 22px 0;
  text-align: center;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .nav__item {
    border: none;
    margin-left: 30px;

    &:first-child {
      border: none;
      margin-left: 0;
    }
  }

  .nav__link {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;

    &--active {
      border-bottom: 2px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav__link {
    font-size: 20px;
    line-height: 24px;

    &--index {
      color: $white;

      &--active {
        border-color: $white;
      }
    }
  }
}
