.optional__list {
  @include reset-list-styles();
  @include horizontal-padding($mobile-padding);
}

.optional__item {
  padding: 15px 0;
  border-bottom: 1px solid $ashen;

  &:first-child {
    border-top: 1px solid $ashen;
  }
}

.optional-card__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
}

.optional-card__meta {
  @include arial();
}

@media (min-width: $tablet-width) {
  .optional {
    width: $tablet-width;
    margin: 0 auto;
    box-sizing: border-box;

    @include horizontal-padding($tablet-padding);
  }

  .optional__list {
    margin-top: 80px;
    padding: 0;
  }

  .optional__item {
    padding: 27px 40px;
    border-left: 1px solid $ashen;
    border-right: 1px solid $ashen;
  }
}

@media (min-width: $desktop-width) {
  .optional {
    display: flex;
    flex-wrap: wrap;
    width: $desktop-width;
    margin-bottom: 85px;

    @include horizontal-padding($desktop-padding);
  }

  .optional__item {
    border: none;
    border-bottom: 2px solid $grey;
    padding: 16px 0;

    &:first-child {
      border-top: 2px solid $grey;
    }
  }

  .optional__list {
    flex-grow: 3;
    margin: 0;
  }
}
