.optional-card__title {
  margin-bottom: 7px;
}

.optional-card__meta {
  width: 100%;
  margin-bottom: 10px;

  tr {
    display: flex;

    td:nth-child(2) {
      margin-left: auto;
    }
  }
}

.optional-card__btn-order {
  padding: 11px;
}

@media (min-width: $tablet-width) {
  .optional-card {
    display: flex;
    flex-wrap: wrap;
  }

  .optional-card__title,
  .optional-card__meta {
    width: 50%;
    margin-bottom: 20px;
  }

  .optional-card__title {
    font-size: 20px;
  }

  .optional-card__meta {
    margin-left: auto;

    tr {
      justify-content: flex-end;

      td:nth-child(2) {
        margin-left: 50px;
      }
    }
  }

  .optional-card__btn-order {
    width: 100%;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .optional-card {
    flex-wrap: nowrap;
    align-items: center;
  }

  .optional-card__title,
  .optional-card__meta,
  .optional-card__btn-order {
    width: 33%;
    margin: 0;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .optional-card__meta {
    font-size: 16px;

    tr {
      justify-content: flex-start;

      td:nth-child(2) {
        margin-left: auto;
      }
    }
  }

  .optional-card__btn-order {
    padding: 10px 0;
  }
}
