.product-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-bottom: 17px;

  &--more {
    display: block;
    padding-top: 65px;
    margin-bottom: 0;
  }
}

.product-card__title {
  padding-right: 40px;
  margin-bottom: 10px;
}

.product-card__image,
.product-card__description {
  flex-basis: 50%;
}

.product-card__btn-order {
  flex-grow: 1;
  margin: 0 auto;
  padding: 10px 0;

}

.product-card__link {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}

.product-card__meta {
  @include arial();
  font-size: 12px;
  line-height: 16px;
  width: 100%;

  td:nth-child(2) {
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    margin: 20px 0;
    padding: 40px;
    background-color: $grey;

    &--more {
      display: block;
      padding-top: 164px;
      border: 1px solid $grey;
      background-color: transparent;
    }
  }

  .product-card__image {
    display: block;
  }

  .product-card__pic {
    display: block;
    margin: 0 auto;
  }

  .product-card__title {
    text-align: center;
  }

  .product-card__image,
  .product-card__description {
    flex-basis: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    box-sizing: border-box;
    width: 245px;
    padding: 40px;

    &--more {
      padding-top: 160px;
    }
  }
}
