.product-card__link {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}

.product-card__meta {
  @include arial();
  font-size: 12px;
  line-height: 16px;
}
