.product-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
  padding-bottom: 17px;

  &--more {
    display: block;
    padding-top: 65px;
    margin-bottom: 0;
  }
}

.product-card__title {
  padding-right: 40px;
  margin-bottom: 10px;
}

.product-card__image,
.product-card__description {
  flex-basis: 50%;
}

.product-card__btn-order {
  flex-grow: 1;
  padding: 10px 0;
}

.product-card__link {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}

.product-card__meta {
  @include arial();
  font-size: 12px;
  line-height: 16px;
  width: 100%;

  td:nth-child(2) {
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    margin: 25px 0;
    margin-top: 30px;
    padding-bottom: 40px;
    padding-top: 5px;
    background-image: linear-gradient(to top, $grey 430px, $white 430px);

    &--more {
      display: block;
      border: 1px solid $grey;
      background-image: none;
      margin: 0;
      transform: translateY(115px);
    }
  }

  .product-card__image {
    display: flex;
    align-items: flex-end;
    height: 210px;
  }

  .product-card__pic {
    display: block;
    margin: 0 auto;
    width: 324px;
  }

  .product-card__title {
    text-align: center;
    padding: 0 50px;
    margin-top: 35px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  .product-card__link {
    font-size: 20px;
  }

  .product-card__meta {
    font-size: 16px;

    tr {
      display: flex;
      border-bottom: 1px solid $ashen;
      justify-content: space-between;
      padding: 5px 0;
    }
  }

  .product-card__image,
  .product-card__description {
    flex-basis: 100%;
  }

  .product-card__description {
    padding-left: 40px;
    padding-right: 40px;
  }

  .product-card__btn-order {
    margin-top: 35px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    box-sizing: border-box;
    width: 245px;
    padding-bottom: 45px;

    &--more {
      padding-top: 170px;
    }
  }

  .product-card__pic {
    width: 245px;
  }

  .product-card__title {
    margin-bottom: 15px;
    padding: 0 10px;
  }

  .product-card__meta {
    padding: 0;
  }

  .product-card__btn-order {
    margin-left: 40px;
    margin-right: 40px;
  }
}
