.selection {
  @include horizontal-padding($mobile-padding);
}

.selection__list {
  @include reset-list-styles();
}

.selection__item {
  background-color: $grey;

  @include horizontal-padding($mobile-padding);
  padding-top: 32px;
  margin-bottom: 20px;
}

.selection__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding-left: 70px;

  &--slim,
  &--pro {
    &::before,
    &::after {
      content: " ";
      position: absolute;
      top: -5px;
      left: 0;
      width: 50px;
      height: 50px;
    }

    &::before {
      background-color: $green;
      border-radius: 50%;
    }
  }

  &--slim {
    &::after {
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--pro {
    &::after {
      left: -5px;
      width: 60px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.selection__description {
  @include arial();
  color: $darkgrey;
  margin: 0;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;

  &--form {
    @include oswald($regular);
    border: none;
    padding: 0 20px;
  }
}

.selection__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 0;

  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 95px;
    width: 23px;
    height: 11px;
    transform: translateY(-50%);
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: 32px 11px;
    background-position: right center;
  }

  &:hover {
    &::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .selection {
    width: $tablet-width;
    margin: 0 auto;
    box-sizing: border-box;

    @include horizontal-padding($tablet-padding);
  }

  .selection__list {
    margin: 0;
  }

  .selection__item {
    padding-top: 80px;
    padding-right: 325px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-bottom: 30px;
  }

  .selection__title {
    text-align: left;
    font-size: 36px;
    padding-left: 0;

    &--slim,
    &--pro {
      &::before,
      &::after {
        top: 15px;
        left: 395px;
        width: 200px;
        height: 200px;
      }
    }

    &--slim {
      &::after {
        top: 0;
        height: 200px;
      }
    }

    &--pro {
      &::after {
        width: 270px;
        left: 360px;
      }
    }
  }

  .selection__description {
    border: none;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }

  .selection__link {
    font-size: 20px;
    padding: 35px 0;

    &::after {
      left: 130px;
    }
  }
}

@media (min-width: $desktop-width) {
  .selection {
    width: $desktop-width;
    padding-top: 80px;

    @include horizontal-padding($desktop-padding);
  }

  .selection__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .selection__item {
    width: 570px;
    box-sizing: border-box;
    padding-right: 50px;
  }

  .selection__title {
    text-align: left;
    padding-left: 160px;

    &--slim,
    &--pro {
      &::before,
      &::after {
        top: -32px;
        left: 0;
        width: 100px;
        height: 100px;
      }
    }

    &--slim {
      &::after {
        top: -40px;
        height: 100px;
      }
    }

    &--pro {
      &::after {
        width: 140px;
        left: -20px;
      }
    }
  }

  .selection__description {
    margin-top: 70px;
    padding-bottom: 0;
  }
}
