.slider {
  position: relative;
  padding-top: 35px;
}

.slider__img-wrap {
  position: relative;
  height: 270px;
  width: 320px;
  margin: 0 auto;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__img {
  display: block;
  position: relative;
  background-color: $grey;
  width: 100%;
}

.slider__img--before {
  z-index: 1;
}

.slider__controls {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 60px;
}

.slider__range {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 18px;
}

.slider__scale {
  flex-grow: 1;
  height: 14px;
  background-color: $white;
  border-radius: 15px;
  border: 1px solid $ashen;
}

.slider__thumb {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  height: 8px;
  background-color: $green;
  margin: 0 5px;
  border-radius: 5px;
}

.slider__button {
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;

  @include oswald($regular);
  font-size: 16px;
}


@media (min-width: $tablet-width) {
  .slider {
    padding-top: 55px;
    background-image: linear-gradient(to top, $grey 383px, $white 383px);
  }

  .slider__img-wrap {
    min-height: 501px;
    width: 670px;

    &::after {
      content: " ";
      position: absolute;
      width: 100vw;
      top: 41px;
      left: -100vw;
      right: 0;
      bottom: 0;
      background-color: $grey;
      transform: translate(5px, 129px);
    }
  }

  .slider__item {
    height: 630px;
    background-image: linear-gradient(to top, $grey 460px, $white 440px);
  }

  .slider__item--before {
    width: 50%;
    overflow: hidden;
    z-index: 20;
  }

  .slider__item--after {
    background-image: linear-gradient(to top, $grey 440px, $white 440px);

    &::after {
      content: " ";
      position: absolute;
      width: 100vw;
      top: 170px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $light-ashen;
    }
  }

  .slider__img {
    display: block;
    position: relative;
    width: 680px;
    z-index: 10;
    background-color: transparent;
  }

  .slider__controls {
    position: relative;
    width: $tablet-width;
    box-sizing: border-box;
    padding: 0 100px;
    padding-top: 25px;
    margin: 0 auto;
    margin-bottom: 45px;
    z-index: 999;
  }

  .slider__range {
    position: relative;
    flex-grow: 1;
    margin: 0 30px;
  }

  .slider__scale {
    height: 6px;
    border: none;
    background-color: $ashen;
  }

  .slider__thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border: 1px solid $ashen;
    box-sizing: border-box;
    box-shadow: 0 0 12px -5px rgba(4, 4, 4, 0.5);

    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green;
    }

    &:hover {
      box-shadow: 0 0 12px -5px rgba(4, 4, 4, 0.9);
    }

    &:active,
    &:focus {
      border-width: 2px;
      border-color: $green;
    }
  }

  .slider__button {
    font-size: 20px;
    border-bottom: 1px dotted $ashen;
    padding: 4px 0;

    &:hover {
      border-bottom-style: solid;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    height: 650px;
    margin: 0;
    width: 55%;
    padding-top: 0;
    box-sizing: border-box;
  }

  .slider__item {
    height: 650px;
  }

  .slider__item--after {
    &::after {
      top: 190px;
    }
  }

  .slider__img-wrap {
    width: 770px;

    &::after {
      top: 60px;
      bottom: -20px;
      z-index: -1;
    }
  }

  .slider__img {
    transform: translateY(0);
    width: 720px;
  }

  .slider__controls {
    padding-top: 50px;
  }
}
