.slider {
  position: relative;
}

.slider__img-wrap {
  position: relative;
  min-height: 299px;
}

.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__img--before {
  background-image: url("../img/before-mobile@1x.png");
}

.slider__controls {
  display: flex;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .slider {
    margin-top: 150px;
    background-color: $grey;
  }

  .slider__img-wrap {
    min-height: 399px;
  }

  .slider__img {
    min-height: 499px;
    transform: translateY(-110px);
  }

  .slider__img--before {
    background-image: url("../img/before-tablet@1x.png");
  }

  .slider__controls {
    width: $tablet-width;
    box-sizing: border-box;
    padding: 0 100px;
    padding-bottom: 30px;

  }

  .slider__range {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin: 0;
  }
}
