.subtitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  &--optional,
  &--contacts,
  &--comment {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 60%;
      left: 0px;
      width: 100vw;
      height: 4px;
      background-color: $green;
      z-index: -1;
    }
  }

  &--contacts {
    margin-top: 30px;
    margin-bottom: 15px;

    &::after {
      top: 35%;
      left: 200px;
    }
  }

  &--comment {
    &::after {
      left: 150px;
    }
  }

  &--optional {
    @include horizontal-padding($mobile-padding);
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 0;

    &::after {
      left: 160px;
    }
  }
}

@media (min-width: $tablet-width) {
  .subtitle {
    width: 100%;
    position: relative;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: " ";
      position: absolute;
      top: 60%;
      right: 660px;
      width: 100vw;
      height: 4px;
      background-color: $green;
      z-index: -1;
    }

    &::after {
      content: " ";
      position: absolute;
      top: 60%;
      left: 0px;
      width: 100vw;
      height: 4px;
      background-color: $green;
      z-index: -1;
    }

    &--contacts {
      margin-top: 75px;

      &::after {
        top: 60%;
        left: 550px;
      }

      br {
        display: none;
      }
    }

    &--comment {
      margin-top: 25px;

      &::after {
        left: 210px;
      }
    }

    &--optional {
      padding: 0;
      margin-top: 45px;

      &::after {
        left: 230px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .subtitle {
    &::before {
      right: 1260px;
    }

    &--contacts {
      width: 100%;
      margin-top: 0;
      margin-bottom: 80px;
    }

    &--optional {
      margin-top: 0;
      margin-bottom: 50px;
      padding-left: 0;
    }

    &--comment {
      margin-top: 0;
    }
  }
}
