.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;

  &--catalog,
  &--selection {
    @include horizontal-padding($mobile-padding);
    padding-top: 15px;
    padding-bottom: 30px;
  }

  &--selection {
    padding-bottom: 22px;
  }

  &--example {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 60px;

    &--catalog {
      padding: 0;
    }

    &--selection {
      padding-top: 60px;
      padding-left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .title {
    &--example {
      margin-bottom: 10px;
      padding-top: 50px;
    }

    &--selection {
      padding-top: 0;
    }
  }
}
