body {
  @include oswald();
  font-size: 14px;
  line-height: 18px;
  color: $black;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  display: block;
  color: $white;
  background-color: $green;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}
