@font-face {
  font-family: 'oswald';
  src: url('../fonts/oswaldmedium.woff2') format('woff2'),
       url('../fonts/oswaldmedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'oswald';
  src: url('../fonts/oswaldregular.woff2') format('woff2'),
       url('../fonts/oswaldregular.woff') format('woff');
  font-weight: 400;
}

@mixin oswald($style: regular) {
  font-family: 'oswald', Helvetica, sans-serif;
  @if $style == regular {
    font-weight: 400;
  }
  @if $style == medium {
    font-weight: 500;
  }
}
